.sizeContainer{
    width: 50%;
    height: auto;
}
body{
    background-color: black;
}

::placeholder{
    font-weight: 2;
    font-size: 20px;

}

input:focus {
    outline-style: none !important;
    box-shadow: none !important;
   
}

.itemBrandStyle{
    font-weight: 2;
}

.listItemStyle{
    font-weight: 2;
    font-size: 20px;
}

.styleTaskContainer:hover{
    background-color: rgba(235, 235, 235, 0.506);
}
